.nav-menu{
    display: flex;
    list-style: none;
}
.nav-menu li{
    list-style: none;
    padding: 20px;
}

.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    height: 90px;
    position: fixed;
    z-index: 10;
    background-color: black;
}

.nav-bg{
    background-color: rgba(0, 0, 0, 0.85);
    transition: 1s;
}