
.hero-img{
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    position: relative;
}

.hero-img h1{
    font-size: 2.4rem;
}


.hero{
    margin-top: 100px;
    padding-top: 100px;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}
.pricing{
    width: 100%;
    margin-bottom: 110px;
    padding: 6rem 1rem;
    background: black;
    height: 50vh;
    
}

.card-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}
.card{
    background: black;
    border: 1px solid white;
    color: white;
    padding: 1rem;
    position: relative;
    align-items: center;
    margin-right: 20px;
}
.card h3{
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
    
}
.card p{
    padding: 10px 0;
}
.card:hover{
    background-color: #141414;
    transition: 3s;
}
@media screen  and (max-width:740px) {
    .card-container{
        width: 100%;
        grid-template-columns: 1fr;
        position: relative;
        box-sizing: border-box;
        
    }
    .card{
        grid-template-columns: 1fr;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        
    }
    .pricing{
        width: 100%;
        padding: 8rem 2rem;
        background: black;
        box-sizing: border-box;
        
        
    }
    .intro{
        margin-top: 20px;
        padding-top: 30px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin-bottom: 40px;
        
    }
    .cv{
        text-align: center;
        border: 1px solid white;
        border: 20px;
        width: 100%;
        
    }
    .footer{
        position: fixed;
    }
}
.intro{
    margin-top: 40px;
    max-width: 100%;
    height: 60vh;
}
.cv{
    text-align: center;
    border: 1px solid white;
    
    
}
.cv Link{
    padding-bottom: 1rem;
}
.bar{
    border-bottom: 1px solid white;
    width:10%;
    margin:1.5rem auto;
    display: block;
}

.btc{
    font-size: 4rem;
    font-weight: 900;
    padding: 1rem 0;
}
.btn{
    max-width: 60%;
    align-items: center;
}
